/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
*{
	box-sizing: border-box;
	
}



/* body{
    background-image: url(img/city.jpg);
    background-size: cover;
	background-repeat: no-repeat;  
    opacity: 1.5;
} */
.header{
	width: 100%;
	padding: 30px;
	display: block;
	position: absolute;
	z-index: 20;

}
.header p{
	float: left;
	color:#fff;
	font-size: 20px;
}
.header nav{
	float: right;
	
}
.header ul{
	display: flex;
	justify-content:space-between;
	align-items: center;
	
}
.header li{
	margin-right: 20px;
	font-size: 20px;
}
.header a{
	color:#fff;
}
.main-container{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100vh;
	z-index: 1;
	overflow: hidden;
}
.background {
	background-image: url(img/city.jpg);
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	top:0px;
	left: 0px;
}
.inner-container{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	top:0px;
	left: 0px;
	display: flex;
	background: rgba(75, 75, 93, .8);
	justify-content: center;
	
}
.inner{
	width: 80%;
	border-top: 2px solid grey;
	margin-top: 150px;
	padding-top: 50px;
	display: flex;
	align-items: center;
    flex-direction: column;
}
.inner h1 {
	font-size: 50px;
	color: #fff;
	font-weight: 400;
}
.inner-box{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-top: 90px;
}
.box{
	width: 33%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-right: 2px solid gray;
}
.box:last-child{
	border-right: none;
}
.box i {
	font-size: 40px;
	color:#6cc091;
	margin-bottom: 30px;
}
.box h3{
	font-size: 30px;
	color: #fff;
	margin-bottom: 30px;
}
.box p{
	font-size: 20px;
	color: #fff;
	opacity: 0.7;
}
.btn{
	font-size: 18px;
	color: #6cc091;
	border-radius: 30px;
	border: 2px solid #6cc091;
	text-transform: uppercase;
	padding: 10px 30px;
	margin-top: 30px;
	transition: 1s;
	
	
}
.btn:hover{
	background-color: rgba(108, 192, 145, 0.15);
	
}

.white-container{
	width: 100%;
	display: flex;
}
.white-box{
	width: 50%;
	display: flex;
	align-items: center;
	padding: 70px 50px;
	flex-direction: column;
}
.white-box img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 10px;
}
.white-box h3{
	font-size: 25px;
	line-height: 40px;
	color:#555;
	margin-bottom: 30px;
}
.white-box p{
	font-size: 20px;
	color:#9a9a9a;
	margin-bottom: 30px;
	text-align: center;
	line-height: 30px;
}
.green-container{
	display: inline-block;
	width: 100%;
	background-color: #6cc091;
	

}
.green-container p {
	font-size: 30px;
	color: #fff;
	text-align: center;
	margin-bottom: 35px;
	margin-top: 35px;
}
.control{
	display: flex;
	margin-top: 50px;
	padding: 20px;
}
.form-control{
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}
.form-control label{
	font-size: 15px;
	color:#fff;
	margin:0 0 10px 0;
}
.form-control input{
	display: flex;
	background-color:#6cc091;
    border-radius: 10px;
    width: 500px;
    height: 40px;
	border: 2px solid #8dcca9;
	margin-bottom: 20px;
	padding: 10px;
	
}
::placeholder{
	color:#8dcca9;
}
form{
	display: flex;
    padding: 10px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form-control1{
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}
.form-control1 label{
	font-size: 15px;
	color:#fff;
	margin:0 0 10px 0;
}
.form-control1 input{
	display: flex;
	background-color:#6cc091;
    border-radius: 10px;
    width: 500px;
    height: 100px;
	border: 2px solid #8dcca9;
	margin-bottom: 20px;
	padding: 10px;
	
}
.button{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.button a{
	font-size: 18px;
    color:#fff;
    border-radius: 30px;
    border: 2px solid #fff;
    text-transform: uppercase;
    padding: 10px 40px;
    margin-top: 30px;
	transition: 1s;
	text-align: center;
}
.button a:hover{
	background-color: rgba(108, 192, 145, 0.15);
}

